@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --h2-font-size:2.2em;
    --h3-font-size:1.1em;
    --p-font-size:1.3em;
    --line-margin-top:-0.60em;
    
}

html{
    scroll-behavior: smooth;
}
/*NAV SECTION*/

nav{  
    display: flex;
    position: fixed;
    height: fit-content;
    width: 100%;
    font-size: 1.3em;
    z-index: 10;
    padding: 22px 0px;
    transition: all 0.3s ease;
}
.nav-sticky{
    background-color: crimson;
    padding: 12px 0px;
}
nav .text{
    display: flex;
    align-items:center ;
    width: 100%;
    margin-left: 20%;
}
nav .text h2{
    margin-right: 30%;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s ;
}
nav .text a{
    color: white;
    margin-left: 2em;
    transition: color 0.5s, text-shadow 0.5s , transform 0.5s;
}
#lio{
    color: crimson;
}
.sticky{
    color: white !important;
}
nav .text h2:hover, nav .text a:hover{
    color: black;
    transform: scale(1.2);
}

/*BURGER MENU*/
.burger{
    display: none;
}

.burger-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2%;
}

/*BODY SECTION*/
.container{
    display: flex;
    flex-direction: column;
}
/*HOME SECTION*/
.home{
    height: 100vh;
    width: 100%;
    background-image: url(./images/home\ background\ image.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.home .opacity{
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home .opacity .text{
    background-color: rgba(220,20,60,0.6);
    padding: 2%;
    font-size: 1.4em;
    color: white;
    border-radius: 15%;
    margin-top: 10%;
    margin-left: 30%;
    line-height: 1.5;
    z-index: 1;
    
}
.opacity .home-icon{
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
    position: relative;
    right: 3%;
}
.opacity .home-icon a{
font-size: 2.4em;
margin-left: 65%;
}
.home .opacity .text span{
    color:black
}
.home .opacity .text a{
    background-color:white;
    color: black;
    padding: 0.5em;
    height:45px;
    width: 42px;
    border-radius: 6px;
    position: relative;
    left: 25%;
    top: 0.7em;
    transition: all 0.2s ;
}    
.home .opacity .text a:hover{
    background-color: #222;
    color: crimson;
}
/*WHO I AM SECTION*/

.who-I-am-box{
    width: 100%;
    padding:2%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

 .who-I-am-box h2{
 text-align: center;
 margin-top: 2%;
 font-size: var(--h2-font-size);
}
 .who-I-am-box h3{
    color: crimson;
    margin-left: 50%;
    margin-top: 0.4em;
    transform: translateX(-50%);
    font-size: var(--h3-font-size);
    background-color: white;
    padding-inline: 0.3em;
    width: fit-content;
    z-index: 1;
}
 .who-I-am-box .line{
   width: 11.25em;
   margin-left: 50%;
   transform: translateX(-50%);
   margin-top: var(--line-margin-top);
   border-top: 0.25em solid black;
}
 .who-I-am-box .body{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 2%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 2%;
}
 .who-I-am-box .body img{
  border-radius: 100%;
  margin-top: 1%;
  width: 26%;
  height: 26%;
  display: block;
}
 .who-I-am-box .body .text{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 60%;
   padding: 2%;
   word-wrap: break-word;
   line-height: 1.4em;
   margin-right: -2%;
}
 .who-I-am-box .body .text h4{
    margin-top: 1%;
    font-size: 1.4em;
}
 .who-I-am-box .body .text p{
    margin-top: 3%;
    font-size: var(--p-font-size);
    line-height: 1.4em;
}

/* SOFT-SKILLS SECTIONS*/

.soft-skills-box{
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
}

.soft-skills{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.soft-skills h2{
 margin-top: 2%;
 font-size: var(--h2-font-size);
}
.soft-skills h3{
    color: crimson;
    margin-top: 0.4em;
    font-size: var(--h3-font-size);
    background-color: #111;
    padding-inline: 0.3em;
    z-index: 1;
}
.soft-skills .line{
   width: 11.25em;
   border-top: 0.25em solid white;
   margin-top: var(--line-margin-top);;
}
.soft-skills .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
    width: 100%;
    text-align: center;
    margin-top: 1%;
    flex-wrap: wrap;

}
.soft-skills .card-box{
    background-color:#222;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: flex;
    margin: 2% 0;
    
}
.soft-skills .card-box:hover{
    background-color: crimson;
}
.soft-skills .card1, .soft-skills .card2, .soft-skills .card3{
    height:260px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease
}
.card1:hover,.card2:hover, .card3:hover{
    transform: scale(1.05);
}

.soft-skills .card1 div,.soft-skills .card2 div,.soft-skills .card3 div{
    font-size: 1.7em;
    margin-top: 2%;
}
.soft-skills .card-box img{ 
    width: 130px;
    height: 130px;
    margin-top: 23px;
    padding: 20px;
    box-sizing: content-box;
    float: left;
}
/*BACK TO TOP BUTTON*/
#back-to-top {
	position: fixed;
    font-size: 1.4em;
    padding: 0.4em;
    left: 95%;
    top: 92%;
    z-index: 5;
    border-radius: 50%;
    text-decoration: none;
	background-color: rgba(220,20,60,0.9);
	box-shadow: 0 0.6em 1em 0.2em hsla(210, 100%, 39%, 0.4);
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color;
}
#back-to-top:hover {
	transform: translateY(-22%);
	background-color: crimson
}
#back-to-top::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 10%;
	height: 20%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
}
/*DOWNLOAD CV BUTTON*/
#Cv {
	position: fixed;
    font-size: 1.4em;
    padding: 0.6em;
    left: 4%;
    top: 92%;
    z-index: 5;
    border-radius: 6px;
    text-decoration: none;
    color: white;
	background-color: rgba(220,20,60,0.9);
	box-shadow: 0 0.6em 1em 0.2em hsla(210, 100%, 39%, 0.4);
	transform: translateY(0%);
	transition: ease-out 200ms;
	transition-property: transform, background-color;
}
#Cv:hover {
	transform: translateY(-22%);
	background-color: crimson
}
#Cv::after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 10%;
	height: 20%;
	transform: translateY(-30%);
	background-color: rgba(0, 0, 0, 0);
	display: block;
}
/*HARD SKILLS SECTIONS */

.hard-skills{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}
.hard-skills h2{
    margin-top: 2%;
    font-size: var(--h2-font-size);
    text-align: center;
    width: fit-content;
}
.hard-skills h3{
    color: crimson;
    margin-top: 0.4em;
    font-size:var(--h3-font-size);
    background-color: white;
    padding-inline: 0.3em;
    z-index: 1;
    width: fit-content;
}
.hard-skills .line{
    width: 11.25em;
    margin-top: var(--line-margin-top);
    border-top: 0.25em solid black;
   }
.hard-skills .description{
       display: flex;
       justify-content: center;
       column-gap: 3%;
       flex-wrap: wrap;
       height: 100%;
       margin-bottom: 2%;
}
.hard-skills .description .description-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
     margin-top:5%;
   }
.hard-skills .description .description-box p{
    font-size: var(--p-font-size);
    line-height: 1.4em;
    text-align:justify;
    display: flex;
    justify-content: flex-start;
}
/*CONTACT ME BUTTON */
.hard-skills a{
    color: white;
    font-size: 1.45em;
    background-color:crimson;
    padding: 0.5em;
    margin-bottom: 1%;
    height:auto;
    width: auto;
    border-radius: 6px;
    transition: all 0.2s;
    text-align: center;
}
.hard-skills  a:hover{
background-color: white;
color: crimson;
border: solid 2px crimson;
}

/*PROGRESS BAR*/
.hard-skills .description .progress-box{
    display:flex;
    flex-direction: column;
    margin-top: 5.4%;
    row-gap: 5%;
    margin-bottom: 5%;
}
.progress-box .progress-bar{
    position: relative;
}
.progress-box .progress-bar .text-skills{
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-size: var(--p-font-size);
    padding-top: 1%;
}
.progress-box .progress-bar .background{
    width: 600px;
    border-top: 5px lightgrey  solid;
    position: absolute;
}
.progress-box .progress-bar .foreground-html{
    width: 540px;
    border-top: 5px crimson solid;
    position: absolute;
}
.progress-box .progress-bar .foreground-css3{
    width: 480px;
    border-top: 5px crimson solid;
    position: absolute;
}
.progress-box .progress-bar .foreground-js{
    width: 420px;
    border-top: 5px crimson solid;
    position: absolute;
}
.progress-box .progress-bar .foreground-react{
    width: 360px;
    border-top: 5px crimson solid;
    position: absolute;
}
/*FREE TIME SECTION*/
.free-time{
    
    width: 100%;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free-time h2{
 margin-top: 2%;
 font-size:var(--h2-font-size);
}
.free-time h3{
    color: crimson;
    margin-top: 0.4em;
    font-size: var(--h3-font-size);
    background-color: #111;
    padding-inline: 0.3em;
    width: fit-content;
    z-index: 1;
}
.free-time .line{
   width: 11.25em;
   border-top: 0.25em solid white;
   margin-top: var(--line-margin-top);
}
.free-time .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3%;
    width: 100%;
    padding-bottom: 2%;
}
.free-time .cards .card-box{
    height: fit-content;
    width: fit-content;
    margin-top: 2%;
    background-color:#222;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-align: center;
}
.free-time .cards .card-box:hover{
    background-color: crimson;
}
.free-time .cards .card-box .card1, .free-time .card2, .free-time .card3{
    height:260px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.9em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}
.free-time .cards .card-box .card1{
    background-image: url("images/home\ background\ image.jpg");
}
.free-time .cards .card-box .card2{
    background-image: url("images/mountain/mountain-river.jpeg");
}
.free-time .cards .card-box .card3{
    background-image: url("images/trips/firenze.jpeg");
}

.text-passion{
    background-color: crimson;
    color: white;
    width: 100%;
    border-radius: 6px 6px 0 0 ;
    opacity: 0.7;
}
.free-time .cards .card-box .card1:hover, .free-time.card2:hover,.free-time .card3:hover{
    transform: scale(1.05);
}
/* C0NTACTS SECTION */

.contacts-box{
    width: 100%;
}

.contacts{
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts h2{
    margin-top: 2%;
    font-size: var(--h2-font-size);
    text-align: center;
    width: fit-content;
}
.contacts h3{
    color: crimson;
    margin-top: 0.4em;
    font-size: var(--h3-font-size);
    background-color: #222;
    padding-inline: 0.3em;
    z-index: 1;
    width: fit-content;
}
.contacts .line{
    width: 11.25em;
    margin-top: var(--line-margin-top);
    border-top: 0.25em solid white;
}
.contacts .description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1%;
}
.contacts .description .description-box{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 width: fit-content;
 margin-right: 1.5em;
 margin-top: 5%;
 height: fit-content;
}

.contacts .description #description-box-text{
    display: flex;
    flex-direction: column;
    
}

.contacts .description #description-box-text .span-font{
    margin-top: -3%;
    margin-bottom: 4%;
    font-size: 1.4em;
}
.contacts .description .description-box>div{
 font-size: var(--p-font-size);
 line-height: 1.4em;
 margin-top: 4%;
 margin-right: 1%;
 width: 30em;
 height: fit-content;
}
.fa-linkedin-in{
    color: #0e76a8;
    width: fit-content;
}
.fa-github{
    color: white;
}
.fass-text, .fass-text-social{
    display: inline;
    position: relative;
    bottom: 0.6em;   
}
.fass-text h4{
    display: inline;
    font-size: 0.7em;
    margin-left: 0.8em;    
}
.fass-text span{
    display: block;
    margin-left:4.6em;
    font-size: 0.6em;
    margin-top: -1em;
}

.fass-text-social h4{
    display: inline;
    font-size: 0.7em;
    margin-left: 1.1em;
}

#icon-contacs{
    width: fit-content;
    font-size: 1.45em;
}
.contacts .description .description-box div span{
 width: fit-content;
}
.description-box a{
    width: fit-content;
    height: 2em;
    text-decoration: none;
    color: white;
    margin-top: 8%;
    display: block;
}
i{
width: fit-content;
display: inline;
color: crimson;
height: fit-content;
}

.contacts .description .form-box{
 display:flex;
 flex-direction: column;
 width: fit-content;
 margin-top: 5%;
 row-gap: 5%;
}
.contacts .span-font{
     font-size: 1.7em;
     color: crimson;
     font-weight: bold;
}
.name-surname-box{
     display: flex;
     justify-content: space-between;
}
input[id="name"],input[id="email"]{
    width: 49%;
}
input{
    height: 2.5em;
}
input,textarea{
background-color: #333;
color:white; 
border-radius: 6px;
font-size:var(--p-font-size);
border-color: #333;
}
input:focus,textarea:focus{
    outline-width: 3px;
    outline-style: solid;
    outline-color:crimson;
}
input::placeholder,textarea::placeholder{
color:white;
}
.form-box button{
    color: white;
    font-size: 1.5em;
    background-color:crimson;
    border-color: crimson;
    padding: 0.4em;
    border-radius: 6px;
    transition: all 0.2s;
}
.form-box button:hover{
    background-color: white;
    color: crimson;
    border: 2px solid crimson;
}
/* FOOTER SECTION */
footer{
    height: fit-content;
    color: white;
    background-color:black;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    padding: 0.8%;
}

footer span{
    color: crimson;
}
footer a{
    color: white
}

@media only screen and (max-width:1600px){
.soft-skills, .hard-skills, .free-time .cards{
    transform: scale(0.9);
}
}

@media only screen and (max-width:1500px){
    .hard-skills .description{
        display: flex;
        justify-content: space-evenly;
        width:82%;
        height: 100%;
    }
}



@media only screen and (max-width:1338px){

    .hard-skills .description{
        transform: scale(1.1);
    }

    .hard-skills .description .description-box{
        width: 65%;
        text-align: center;
    }

}

@media only screen and (max-width:1200px){
body{
    --p-font-size:1.1em;
}
nav {
    display: flex;
   justify-content:flex-start;   
}
nav .text{
    margin-left: 0%;
}

nav .text h2{
    margin-right: 25%;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s ;
}

     .who-I-am-box .body .text h4{
        margin-top: 1%;
        font-size: 1.2em;
    }
     .who-I-am-box .body .text p{
        margin-top: 3%;
        font-size: var(--p-font-size);
        line-height: 1.4em;
    }
    
     .who-I-am-box .body img{
        width: 30%;
        margin-top: 6%;
        
    }
  
    .hard-skills .description .description-box{
        width: 70%;
        }
     
    .hard-skills .description .progress-box{
    margin-top: 3%;
    }

}
@media only screen and (max-width:1029px){
     .who-I-am-box .body{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 0%;
        padding-bottom: 0%;
        align-items: center;
    }


     .who-I-am-box .body img{
        width: 40%;
        
        margin-top: 3%;
        margin-bottom: 2%;
        height: fit-content;
      }
       .who-I-am-box .body .text{
          padding-bottom: 2%;
          width: 80%;
      }

       .who-I-am-box .body .text h4{
          font-size: 1.4em;
      }

       .who-I-am-box .body .text p{
          font-size: 1.3em;
      }

      .contacts .description .form-box{
        height: 50vh;
 
    }

    .contacts .description .description-box{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin:0;
  
    }
  
    .contacts .description #description-box-text{
       height: 100%;
    }
    #back-to-top {
        left:92%;
    }
    #Cv{
        position: static;
    }

    }
    @media only screen and (max-width:811px){
        .contacts .description #description-box-text {
            align-items: center;
            text-align: center;
        }
        .contacts .span-font {
            text-align: center;
        }
    }