@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav{
    
    display: flex;
    position: sticky;
    top: 0;
    background-color: crimson;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}

nav .nav-text{
    display: flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    margin-left: 20%;

}

nav .nav-text h2{
    margin-right: 30%;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s ;
}

nav .nav-text a{
    color: white;
    margin-left: 2em;
    transition: color 0.5s, text-shadow 0.5s , transform 0.5s;
}

nav .nav-text h2:hover, nav .nav-text a:hover{
    color: black;
    transform: scale(1.2);
}
.container{
    display: flex;
    flex-direction: column;
}