@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

/*NAV SECTION*/
nav{  
    display: flex;
    position: sticky;
    top: 0;
    background-color: crimson;
    height: 5.5vh;
    width: 100%;
    font-size: 1.5em;
    z-index: 2;
}

nav .text{
    display: flex;
    align-items:center ;
    width: 100%;
    margin-left: 20%;
}

nav .text h2{
    margin-right: 30%;
    transition: color 0.5s, text-shadow 0.5s, transform 0.5s ;
}

nav .text a{
    color: white;
    margin-left: 2em;
    transition: color 0.5s, text-shadow 0.5s , transform 0.5s;
}

nav .text h2:hover, nav .text a:hover{
    color: black;
    transform: scale(1.2);
}

/*BODY SECTION*/
.container{
    display: flex;
    flex-direction: column;
}

/*HOME SECTION*/
.container .home{
    height: 100vh;
    background-image: url(./images/home\ background\ image.jpg);
    background-size: cover;
}

.container .home .opacity{
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .home .opacity .text{
    background-color: rgba(220,20,60,0.6);
    padding: 2%;
    font-size: 1.7em;
    color: white;
    border-radius: 15%;
    margin-top: 10%;
    margin-left: 30%;
    line-height: 1.5;
    z-index: 1;
}

.container .home .opacity .text span{
    color:black
}

.container .home .opacity .text a{
    background-color:white;
    color: black;
    padding: 3%;
    height:45px;
    width: 42px;
    border-radius: 6px;
    font-size: 0.9em;
    position: relative;
    left: 25%;
    top: 0.5em;
    
}    

/*WHO I AM SECTION*/
.container .who-I-am{
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.container .who-I-am h2{
 text-align: center;
 margin-top: 2%;
 font-size: 2.5em;
}

.container .who-I-am h3{
    color: crimson;
    margin-left: 50%;
    margin-top: 0.4em;
    text-align:center;
    transform: translateX(-50%);
    font-size: 1.3em;
    background-color: white;
    padding-inline: 0.3em;
    width: fit-content;
    z-index: 1;
}

.container .who-I-am .line{
   width: 11.25em;
   border-top: 0.25em solid black;
   margin-left: 50%;
   transform: translateX(-50%);
   margin-top: -0.80em;

  
}

.container .who-I-am .body{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
    border:4px black solid;
    margin-top: 2%;
    justify-content: space-evenly;
}

.container .who-I-am .body img{
  border-radius: 100%;
}

.container .who-I-am .body .text{
   margin-top: 5%;
   align-items: center;
   width: 50%;
   border:black solid 4px;
   word-wrap: break-word
} 

/*SKILLS SECTIONS*/
.skills{
    height: 50vh;
    background-color: black;
}
